version: '3.8'

services:
  app:
    build: .
    image: ghcr.io/TU_USUARIO/TU_REPO:latest
    container_name: mi-app-node
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
